
<!-- logged in main page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ArtEgo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    body{background-color: #DAD9D9;color: #365264;font-family: Arial;}
    header{text-align:center;font-size:50px;font-family:Arial, bold;padding:20px;}
    nav{padding:5px;overflow:hidden;text-align:right;}
    nav a{font-size:15px;display:block;color:#365264;text-decoration:none;}
    nav li{list-style:none;display:inline-block;padding:5px;}
    h2{font-family: Arial; font-size: 40px;}
    .wrapper{width: 1000px;margin: 20px auto;text-align: left;border:none;}

    </style>
</head>
<body>
  <div class = "wrapper" id = "mainPage">
    <!--fixed UI until **---------------------------------------------->
    <section id = "menu-container">
      <nav>
        <ul>
          <li><a href = "login.html"><i class = "fa fa-fw fa-home"></i>HOME</a></li>
          <li><a href = "event.html"><i class = "fa fa-fw fa-star"></i>EVENT</a></li>
          <li><a href = "mycalendar.html"><i class = "fa fa-fw fa-calendar"></i>MY CALENDAR</a></li>
          <li><a href = "logout.html"><i class = "fa fa-fw fa-user"></i>LOG OUT</a></li>
        </ul>
      </nav>
      <!--Logo-->
      <header>ArtEgo</header>
    </section>
    <!-- ** -------------------------------------------------------->
    <section id = "my-calendar-container">
      <h2>My Calendar</h2>
      <!--Calendar-->

    </section>
  </div>


    <script>
    var modal = document.getElementById("showMap");
    var btn = document.getElementById("mapButton");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function() {
      modal.style.display = "block";
    }
    span.onclick = function() {
      modal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    function myMap() {
      var mapProp= {
        center:new google.maps.LatLng(51.508742,-0.120850),
        zoom:5,
      };
      var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
      }
      //add marker
      var marker = new google.maps.Marker({
        position:myCenter
      });
      marker.setMap(map);

      var infowindow = new google.maps.InfoWindow({
        content:""
      });
      google.maps.event.addListener(marker, 'click', function(){
        infowindow.open(map, marker);
      });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
</body>
</html>
